body{
    background-color: blanchedalmond;
    color: #3e2118;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0 auto;
    max-width: 60%;
    

}
h1{
    color: #3e2118;
    font-size: xxx-large;
    text-align: center;
    background-color: rgb(243, 215, 180);
    border-radius: 15px;
    width: fit-content;
    padding-left: 20px;
    padding-right: 20px;
    margin: 30px auto;
}
h2{
    width: fit-content;
    color: rgb(255, 255, 255);
    background-color: #3e2118;
    padding: 10px;
    border-radius: 15px;
    letter-spacing: 2px;
}

h4{
    padding: 0px;
    margin: 0px;
}
ul{
    padding: 0px;
    margin: 0px;
}
li{
    list-style-type: none;
    margin: 0px;
}
a{
    text-decoration: none;
    color: aliceblue;
}
.item_menu{
    padding: 5px;
    padding-left: 30px;
    font-size: 22px;
}
.menu{
    background-color: rgb(243, 215, 180);
    border-radius: 15px;
    padding: 20px;
    font-weight: 600;
}
.navegacion{
    position:fixed;
    top: 0%;
    right: 20%;
    background-color: #3e2118;
    padding: 10px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.redes{
    background-color: #f3d7b4;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: 20px;
    padding-bottom: 5px;
    margin: 0px;
    margin-top: 20px;
}