body{
    background-color: blanchedalmond;
    color: #3e2118;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    margin: 0 auto;
    width: 60%;
    line-height: normal;

}
h1{
    color: #3e2118;
    font-size: xxx-large;
    text-align: center;
    background-color: rgb(243, 215, 180);
    border-radius: 15px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 30px auto;
    width: fit-content;

}
h2{
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    color: #ffffff;
    background-color: #3e2118;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 15px;
    letter-spacing: 2px;


}
h3{
    width: fit-content;
    color: rgb(255, 255, 255);
    background-color: #3e2118;
    padding: 10px;
    border-radius: 15px;
    letter-spacing: 2px;
    margin: 5px;
}
p{
    background-color: #f3d7b4;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 15px;
    padding: 20px;
    font-size: 18px;
}

h4{
    text-align: center;
    margin-top: 10px;
}
h5{
    font-size: medium;
    padding: 0px;
    margin: 0px;  
}
ul{
    padding: 0px;
    margin: 0px;
}
li{
    list-style-type: none;
    margin: 0px;
    
}
a{
    text-decoration: none;
    color: #f0f8ff;
}
img{
    box-sizing: border-box;
    max-width: 100%;
    width: auto;
    border-radius: 15px;
}

.logo{
    width: 80px;
}
.contenedor{
    display: flex;
    justify-content: space-around;
}

.cafes{
    align-items: start;
}
.cafes img{
    margin: 5px;
}
.fondo{
    background-color: #f3d7b4;
    border-radius: 15px;
    align-items: center;
}

.cafe_imagen{
    width: 50%;
    box-sizing: border-box;
    border: 5px solid #3e2118;
    border-radius: 15px;
    margin: 10px; 
}
.marron{
    background-color: #3e2118;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

.menu li{
    padding: 5px;
    font-size: 18px;
}
.menu{
    background-color: rgb(243, 215, 180);
    border-radius: 15px;
    padding: 20px;
    font-weight: 600;
    margin: 5px;
}
.icono{
    width: 20px;
}
.lista_contacto{
    padding: 10px;
    background-color: #f3d7b4;
    border-radius: 15px;
    margin: 5px;
}
.lista_contacto li{
    display: flex;
    align-items: center;
    padding: 5px 10px;


}
.mapa{
    border: 5px solid #3e2118;
    border-radius: 15px;
    width: 100%;
}
.redes{
    background-color: #f3d7b4;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: 20px;
    padding-bottom: 5px;
    margin: 0px;
    margin-top: 20px;
}

@media(max-width: 768px){
    .contenedor{
        flex-direction: column;
    }
    .cafe_imagen{
        width: 80%;
        margin: 10px;
    }
    .cafes{
        align-items: center;
    
    }
    body{
        width: 80%;
    }
}